* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-weight: normal;
  box-sizing: border-box;
  color: #222;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}

body {
  background-image: radial-gradient(
    circle,
    #141f30,
    #273d56,
    #385e7f,
    #4882a9,
    #55a8d4
  );
  display: grid;
  justify-content: center;
}
body.active {
  background-image: linear-gradient(
    to right top,
    #f0f1f2,
    #f2f3f4,
    #f5f5f6,
    #f7f7f7,
    #f9f9f9
  );
}
.header {
  height: 300px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.btn {
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    to right top,
    #f0f1f2,
    #f2f3f4,
    #f5f5f6,
    #f7f7f7,
    #f9f9f9
  );
  width: 100px;
  cursor: pointer;
}
.btn:hover {
  box-shadow: #f0f3f8 0px 0px 10px 2px;
}

body.active .btn {
  background-image: radial-gradient(
    circle,
    #141f30,
    #273d56,
    #385e7f,
    #4882a9,
    #55a8d4
  );
  color: #fff;
}
body.active .btn:hover {
  box-shadow: #131121 0px 0px 10px 2px;
}
body.active h1,
body.active a,
body.active p,
body.active ul,
body.active li {
  color: #131626;
}
body.active .projeto {
  background-image: linear-gradient(
    to right top,
    #e0e5ee,
    #ced9ee,
    #bbcdee,
    #a9c2ee,
    #96b6ee
  );
  border: solid 2px #3f3e49;
}
body.active .projeto:hover {
  box-shadow: #131121 0px 0px 5px 2px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  color: #fff;
}

.redes ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  cursor: pointer;
}
.redes ul a {
  padding: 10px;
  background-image: radial-gradient(
    circle,
    #141f30,
    #141a2b,
    #131626,
    #131121,
    #120a1c
  );
  border-radius: 50%;
  display: flex;
}
body.active ul a {
  background-image: linear-gradient(
    to right top,
    #e0e5ee,
    #ced9ee,
    #bbcdee,
    #a9c2ee,
    #96b6ee
  );
}

.redes ul a:hover {
  border-radius: 50%;
  box-shadow: #fff 0px 0px 5px 2px;
}
body.active .redes ul a:hover {
  border-radius: 50%;
  box-shadow: #131121 0px 0px 5px 2px;
}

main {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.projeto {
  display: flex;
  border: solid 2px #2a76da44;
  background: #f1f1f1;
  padding: 20px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-image: radial-gradient(
    circle,
    #141f30,
    #141a2b,
    #131626,
    #131121,
    #120a1c
  );
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
.projeto a {
  margin: 0 auto;
}
.projeto:hover {
  box-shadow: #fff 0px 0px 5px 2px;
}
.projeto.active {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}

.autor {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
  color: #fff;
}
.body.active .autor {
  color: #131121;
}
@media (max-width: 800px) {
  body {
    margin: 5px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
